{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Investor Ledger</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="balance">${{ current_balance }}</div>
    <div class="balance-subtext">08/19/2014 - 10/15/2014</div>
    <h1>Your investing account</h1>
    <table class="transaction-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in ledger_data %}
          <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.type }}</td>
            <td class="transaction-description">{{ transaction.description }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.balance }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
